body {
    font-family: 'American Typewriter', monospace;
    color: white;
    /* background-color: #000000; */
    background: 
        /* 1-й шар (найвищий): Інтенсивне яскраве коло в ПРАВОМУ ВЕРХНЬОМУ куті */
        radial-gradient(circle at 95% 5%, #22558b 0%, transparent 50%),
        
        /* 2-й шар: Глибоке темно-синє коло, наприклад, ЗЛІВА ЗНИЗУ (для об'єму) */
        radial-gradient(circle at 10% 85%, #011325 0%, transparent 60%),
        
        /* 3-й шар (найнижчий): Базовий чорний фон, на якому все це лежить */
        #000000;
        
    /* Щоб фон не "стрибав", якщо сторінка коротка */
    background-attachment: fixed;*/
    background: #000000; /* fallback for old browsers */
    background-repeat: no-repeat;
    background-attachment: fixed;

    min-height: 100vh; /* Кажемо екрану займати 100% висоти монітора */
    margin: 0; /* Прибираємо стандартні відступи браузера, щоб не було білих смуг */


    button, .main_buttons {
        text-decoration: none;
        display: inline-block;
        background-color: rgba(71, 70, 70, 0.5);
        color: white;
        padding: 17px;
        border-radius: 25px;
        border: none;
        font-family: 'Helvetica', sans-serif;
        font-size: 20px;
        margin: 10px;
        transition: all 0.3s ease;
        
    }
    .main_buttons:hover {
        background-color: rgba(71, 70, 70, 0.8);
        transform: scale(1.05);
        cursor: pointer;
    }

    .toggle-button input[type="checkbox"] {
        display: none;
    }
    .toggle-button .standard-changer {
        user-select: none;
        text-decoration: none;
        display: inline-block;
        background-color: rgba(111, 104, 104, 0.5);
        color: white;
        padding: 10px 20px;
        border-radius: 25px; 
        border: none;
        font-family: 'Helvetica', sans-serif;
        font-size: 16px;
        margin: 10px;
        transition: all 0.3s ease;
    }
    .toggle-button .standard-changer:hover {
        background-color: rgba(109, 107, 107, 0.8);
        transform: scale(1.05);
        cursor: pointer;
    }

    button, .settings_buttons {
        text-decoration: none;
        display: inline-block;
        background-color: rgba(111, 104, 104, 0.5);
        color: white;
        padding: 10px 20px;
        /* border-radius: 25px; */
        border: none;
        font-family: 'Helvetica', sans-serif;
        font-size: 16px;
        margin: 10px;
        transition: all 0.3s ease;
    }
    .settings_buttons:hover {
        background-color: rgba(109, 107, 107, 0.8);
        transform: scale(1.05);
        cursor: pointer;
    }

    .circuit-buttons input[type="checkbox"] {
        display: none;
    }

    .circuit-buttons .show_circuit  {
        user-select: none;
        text-decoration: none;
        display: inline-block;
        background-color: rgba(111, 104, 104, 0.5);
        color: white;
        padding: 10px 20px;
        border-radius: 25px; 
        border: none;
        font-family: 'Helvetica', sans-serif;
        font-size: 16px;
        margin: 10px;
        transition: all 0.3s ease;
    }
    .circuit-buttons .show_circuit:hover {
        background-color: rgba(109, 107, 107, 0.8);
        transform: scale(1.05);
        cursor: pointer;
    }

    
}