body {
    font-family: 'American Typewriter', monospace;
    color: white;
    /* background-color: #000000; */
    background: radial-gradient(circle at 90% 20%, #011325 30%, #071c33 40%, #000000 80%); */
    background: #000000; /* fallback for old browsers */
    background-repeat: no-repeat;
    background-attachment: fixed;

    min-height: 100vh; /* Кажемо екрану займати 100% висоти монітора */
    margin: 0; /* Прибираємо стандартні відступи браузера, щоб не було білих смуг */


    button, .main_buttons {
        text-decoration: none;
        display: inline-block;
        background-color: rgba(71, 70, 70, 0.5);
        color: white;
        padding: 17px;
        border-radius: 25px;
        border: none;
        font-family: 'Helvetica', sans-serif;
        font-size: 20px;
        margin: 10px;
        transition: all 0.3s ease;
        
    }
    .main_buttons:hover {
        background-color: rgba(71, 70, 70, 0.8);
        transform: scale(1.05);
        cursor: pointer;
    }

    button, .settings_buttons {
        text-decoration: none;
        display: inline-block;
        background-color: rgba(111, 104, 104, 0.5);
        color: white;
        padding: 10px 20px;
        /* border-radius: 25px; */
        border: none;
        font-family: 'Helvetica', sans-serif;
        font-size: 16px;
        margin: 10px;
        transition: all 0.3s ease;
    }
    .settings_buttons:hover {
        background-color: rgba(109, 107, 107, 0.8);
        transform: scale(1.05);
        cursor: pointer;
    }


    
}